<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.1.2" targetFramework="net40" />
  <package id="GroupControls" version="1.5.0" targetFramework="net40" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net40" />
  <package id="TaskScheduler" version="2.5.12" targetFramework="net40" />
  <package id="TaskSchedulerEditor" version="2.5.12" targetFramework="net40" />
  <package id="TimeSpan2" version="2.1.1" targetFramework="net40" />
</packages>